// To get all mixins in other *.scss file use: @import "/Base/global";

$color-font: #000;
$color-white: #fff;
$color-primary: #9d136d;
$color-secondary: #e558b4; 
$color-gradient: linear-gradient(135deg,#cb60b3 0%,#c146a1 30%,#a80077 85%,#db36a4 100%);
$color-bg-primary: #fff;
$color-bg-secondary: #f0f0f0;
$color-bg-dark: #404040;
$color-shadow: rgba(255,255,255,.4);
$color-bg-transparent: rgba(0,0,0,.3);
$color-label: #c4c4c4;
$color-border: #dfdfdf;
// Font family
$font-text: 'Open Sans', sans-serif;

// Font sizes
$font-size-text: 16px;
$line-height-text: 24px;

$border-radius: .4rem;

// Helpfull variables
$container-width: 1148px;
$transition-time: .3s;
$animate-all: all $transition-time;

// All devices width for responsivity
$width-mobile: 560px;
$width-tablet: 768px;
$width-desktop: 980px;
$width-desktop-large: 1200px;
$width-desktop-HD: 1440px;
